


<form action="/login" method="POST">
  
  Email : <input type="email" class="b" value="" name="email"><br>
  Password : <input type="password" class="c" value="" name="password"><br>
  submit : <input type="submit" class="" name="submit">
</form>