<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                {{!-- left-side --}}
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        <img src="images/about.svg" alt="aboutsection">
                    </figure>
                </div>

                {{!-- right-side --}}
                <div
                    class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE PROFESSIONAL DEVELOPER</h1>
                    <p>Welcome to <span class="bold-style">Awesome Sid </span>. Your number One Source For All Things.
                        we're dedicated to giving you the very best of work, with a focus on [Three characteristics, ie:
                        dependability, customer service and uniqueness.]</p>
                    <button class="btn-style btn-primary">Read more</button>
                </div>

            </div>
        </div>
    </div>
</div>