


<form action="/register" method="POST">
  Name : <input type="name" class="a" value="" name="name"><br>
  Email : <input type="email" class="b" value="" name="email"><br>
  Password : <input type="password" class="c" value="" name="password"><br>
  Conform Password : <input type="password" class="d" value="" name="conformPassword"><br>
  Submit : <input type="submit" class="d" value="submit" name="submit"><br>

</form>